body {
    padding-top: 50px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.max-input {
    max-width: 200px;
    //margin-left: 5px;
}

.control-label{
	//margin-left: 5px;
}
